@appbar-height: 44px; //导航条高度
@menu-width: 180px;
@main-color: #1CC88A;

.appbar-inner {
  background-color: white;
  padding: 0 !important;
}

.appbar-layout {
  height: @appbar-height;
  display: flex;
  width: 100%;
  align-items: center;

  .logo-view {
    width: @menu-width;
    height: 100%;
    text-align: center;
    transition: width 0.2s linear;
    background-color: @main-color;
  }

  .img-logo-l {
    width: 150px;
    position: absolute;
    margin-left: 15px;
    height: auto;
    transition: 0.2s;
  }

  .img-logo-s {
    width: 32px;
    position: absolute;
    margin-left: 15px;
    height: auto;
    transition: 0.2s;
    opacity: 0;
  }

  .menu-switch {
    width: 30px;
    height: auto;
    padding: 10px;
    z-index: 2;
  }

  .btn-right-menu {
    padding: 10px;
  }
}

.menu-layout {
  left: 0;
  display: block !important;
  top: @appbar-height;
  width: @menu-width;
  height: calc(100% - @appbar-height);
  box-shadow: 3px 0 5px rgba(0, 0, 0, 0.08) !important;
  transition: width 0.2s linear;
}

.panel-layout {
  top: @appbar-height;
  height: calc(100% - @appbar-height);
  border-left: 1px solid #b2b2b2;
}

.container-out-layout {
  z-index: 999; //为了防止views遮住左边菜单视图无法点击
  height: calc(100% - @appbar-height);
}

.view-main {
  float: right;
  width: calc(100% - @menu-width);
  transition: width 0.2s linear;
}

.default-layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  text-align: center;

  .hint-img {
    width: 200px;
    height: 200px;
    margin: auto;
    vertical-align: middle;
  }
}

.list input[type="text"] {
  font-size: 14px !important;
  height: 40px !important;
}

input[type="text"],
select {
  border-radius: 4px !important;
  border: 1px solid #DCDFE6 !important;
  outline: 0 !important;
  padding: 0 15px !important;
  color: #606266 !important;
  margin-right: 15px;
  height: 35px;
  line-height: 35px;
  padding: 0 15px;
}

input.input-focused,
input.input-with-value.input-focus,
select.input-focused,
select.input-with-value.input-focus {
  border-color: #409eff !important;
}

//处理block
.block {
  margin: 20px 0 10px !important;
}

span.input-clear-button {
  padding: 0 15px;
}

.block-title {
  margin-top: 20px !important;
}

.keynote {
  color: red;
  margin-right: 5px;
  display: inline-block;
}

.ignore {
  color: white;
  margin-right: 5px;
}

.appbar {
  background-color: white !important;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.08) !important;
}

.appbar:after {
  background-color: transparent;
}

.card {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.08) !important;
}

.page {
  background-color: #f8f8f8 !important;
}

.ios .toast.toast-bottom {
  left: 50% !important;
  bottom: 50px !important;
}

/*左边容器视图背景色修改*/
.navigation-layout {
  background-color: @main-color  !important;
}

/*导航栏容器视图颜色修改*/
.navigation-bar {
  .navbar-bg {
    background-color: transparent !important;
    backdrop-filter: none;
  }

  .navbar-bg:after {
    background-color: transparent;
  }

  .navbar-inner {
    color: white;
  }
}

.navbar-bg {
  background-color: white !important;
}

.nav-menu-list {

  ul {
    background-color: transparent;
  }

  ul:before,
  ul:after {
    background-color: transparent;
  }

  .selected-item {
    // backdrop-filter: saturate(90%);
    background-color: #62d4a5;
    color: white !important;
    font-weight: bold;

    .item-content .item-inner:after {
      background-color: transparent;
    }
  }

  .normal-item {
    color: white !important;
    opacity: 0.6;

    .item-content .item-inner:after {
      background-color: transparent;
    }
  }
}


.el-button--primary {
  background-color: @main-color;
  border-color: @main-color;
}
.el-button--primary:focus,
.el-button--primary:hover {
  background-color: @main-color;
}